body {
    padding: 50px;
}

.d-flex {
    display: flex;
}

.space-btw {
    justify-content: space-between;
}

.space-even {
    justify-content: space-evenly;
}

.flex-wrap {
    flex-wrap: wrap;
}
.column {
    flex-direction: column;
}

.grow1 {
    flex: 1
}

.m-1 {
    margin: 20px;
}

.m-3 {
    margin: 30px;
}

.mv-1 {
    margin: 15px 0;
}

.mt-5 {
    margin-top: 50px;
}

.mh-1 {
    margin: 0 5px;
}

.p-1 {
    padding: 10px;
}

.p-3 {
    padding: 30px;
}

.width-500 {
    width: 500px;
}

.width-350 {
    width: 400px;
}

.margin-auto {
    margin: 0 auto;
}

.text-center {
    text-align: center;
    justify-content: center;
}

h1 {
    font-size: 50px;
    font-family: "Duvall", sans-serif;
    text-align: center;
}

.button {
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #faebd7;
    text-decoration: none;
}

.line-height-30 {
    line-height: 30px;
}

.profileImage {
    height: 100px;
    width: 100px;
    margin-right: 10px;
}

.profilePhoto {
    max-width: 300px;
    height: auto;
}

.card {
    padding: 10px;
    background-color: #eeeeee;
    margin: 10px;
}

.card img {
    max-height: 160px;
}

.msg {
    padding: 10px;
    background-color: #e5e5e5;
    margin-bottom: 10px;
}

.error {
    padding: 10px;
    margin: 10px;
    border: 2px solid black;
    background-color: orangered;
}

.welcome {
    text-align: center;
    font-size: 40px;
    padding: 0 30px;
}

.user_card {
    height: 50px;
    border: 1px solid blue;
    padding: 5px;
    margin: 5px;
    background-color: #eeeeee;
}

.user_card h3 {
    padding: 0 10px;
}

.user_card img {
    height: 50px;
    width: 50px;
    display: inline;
}

.users-list {
    width: 500px;
}

.font-size {
    font-size: 20px;
    padding: 5px;
}

.reply-card {
    margin: 10px;
    padding: 10px;
    border: 1px solid blue;
}